
    <div class="container-lg p-0">
        <div class="row">
            <div class="col-lg-3 p-3 footer-links">
                <h3 class="d-block">Links</h3>
                <a href="http://www.unboundbible.org" class="d-block text-black-50">Unboundbible.org</a>
                <a href="https://www.hypermodern.org" class="d-block text-black-50">Hypermodern.org</a>
                <a href="https://wdp.hypermodern.org" class="d-block text-black-50">Word Division Puzzles</a>
            </div>
            <div class="col-lg-3  p-3 footer-links">
                <h3 class="d-block">More Links</h3>
                <a href="https://bibleapp.hypermodern.org/ImportBible/Registers/Search" class="d-block text-black-50">Search the Bible</a>
                <a href="https://bibleapp.hypermodern.org" class="d-block text-black-50">Homepage</a>
                <a href="https://unbound.biola.edu/index.cfm?method=downloads.showDownloadMain" class="d-block text-black-50">Bible Database Source</a>
          
            </div>
            <div class="col-lg-6  p-3 footer-links">
                <h3 class="d-block">BibleApp</h3>
                <p class="d-block">BibleApp's goal is to enable the honest pursuit of the truth, wherever that may lead. As Jefferson once said "Question with boldness even the existence of a god; because if there be one he must approve of the homage of reason more than that of blindfolded fear."</p>
            </div>
        </div>
    </div>

