
<div class="">
    <div class="container bg-white rounded-bottom mb-5 border-0">
        <div class="row pt-3 pb-3">
            <div class="col text-center text-black-50">
                &copy; 2020 - HYPERMODERN.ORG - <a class="text-black-50" asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACY</a>
            </div>
        </div>
    </div>
</div>

