<footer class="border-top footer text-muted bg-dark">
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="nav-item text-muted" href="http://unboundbible.org">unboundbible.org</a>
            </div>
            <div class="col">

            </div>
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                &copy; 2020 - BIBLEAPP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </div>
</footer>
