
    <div class="row bg-white">
        <div class="col">
            <div class="row pt-3 bg-dark">

                <div class="col" >
                    <h5 class="text-light text-center">Links</h5>
                    <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                    <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                    <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                    <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                </div>


                <div class="col">
                    <h5 class="text-light text-center">Links</h5>
                    <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                    <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                    <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                    <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                </div>



            </div>



            <div class="row pt-3 bg-primary">
                <div class="col text-center text-white">
                    &copy; 2020 - HYPERMODERN.ORG - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACY</a>
                </div>
            </div>
        </div>
    </div>
