<footer class="mb-0 mt-auto">
    <div class="bg-dark">
        <div class="container">
            <div class="row pt-3">
                <div class="col">
                    <nav class="flex-column">
                        <h5 class="text-light text-center">Links</h5>
                        <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                        <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                        <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                        <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                    </nav>
                </div>
                <div class="col">
                    <nav class="flex-column">
                        <h5 class="text-light text-center">Links</h5>
                        <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                        <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                        <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                        <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                    </nav>
                </div>
                <div class="col">
                    <nav class="flex-column">
                        <h5 class="text-light text-center">Links</h5>
                        <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                        <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                        <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                        <a class="nav-link text-muted" href="http://unboundbible.org">unboundbible.org</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-primary">
        <div class="container">
            <div class="row pt-3 pb-3">
                <div class="col text-center text-white">
                    &copy; 2020 - HYPERMODERN.ORG - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">PRIVACY</a>
                </div>
            </div>
        </div>
    </div>
</footer>
