@page
@model BibleAppEF.Areas.Identity.Pages.Admin.Roles.Edit.EditModel
@{
}
<h3>List of Roles</h3>
<hr />
<form method="post">
    <div class="row">
        <lablel>@Model.theKey</lablel>
    </div>
    <div class="row">
        <lablel> Old Name: @Model.theValue</lablel>
    </div>
    <div class="row">
        <lablel> Old Name: </lablel>
        <input id="newName" type="text" />
    </div>
    <div class="row">
        <button class="border-0 bg-transparent" onclick="UpdateRole2('@Model.theKey')">Submit</button>
    </div>
</form>

