@page
@model BibleAppEF.Areas.Identity.Pages.Admin.Roles.IndexModel
@{

}
<h3>List of Roles</h3>

<form method="post" asp-page-handler="post">
    <div class="row">
        <div class="col-12">
            <input type="text" name="NewRole" />
            <button asp-page="/Admin/Roles/Index">Add New Role</button>
        </div>
    </div>
</form>
<hr />
<div class="row border-dark">
    <div class="col-4 text-center">
        <h4>ID</h4>
    </div>
    <div class="col-4 text-center">
        <h4>Name</h4>
    </div>
    <div class="col-4">
        <h4>Utility</h4>
    </div>
</div>
<form method="post">
    @foreach (KeyValuePair<string, string> role in Model.AllRoles)
    {
        <div class="row border-dark">
            <div class="col-6">@role.Key</div>
            <div class="col-4">@role.Value</div>
            <div class="col-2">
                <button onclick="DeleteRole('@role.Key')">x</button>
            </div>
        </div>
    }
</form>


