@{  var availableVersions = ViewData.Model;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-4 card text-white bg-dark mb-3">
            <div class="form-group">
                <label class="control-label">Version</label>
                <select class="form-control" id="versionSelect" onchange="onchangeVersion()">
                    @foreach (var item in availableVersions)
                    {
                        <option>@item</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Book</label>
                <select class="form-control" id="bookSelect" onchange="onchangeBook()">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Chapter</label>
                <select class="form-control" id="chapterSelect" onchange="onchangeChapter">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Verse</label>
                <select class="form-control" id="verseSelect" onchange="onchangeVerse">
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Search</label>
            </div>
        </div>
        <div class="col-8">

        </div>
    </div>







</form>