@{
    ViewData["Title"] = "BibleApp";
}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-lg-6">
                <img class="fpimage pb-2" src="~/images/magnifypink.jpg" />
                <h3 class="d-block p-2">The Search for the Truth</h3>
                <p class="p-2">The search for the truth is no easy endeavor. It can be brutal, disillusioning, and full of pain. However, even if one never finds the truth, it can bring great wisdom, knowledge, and enlightenment. The journey to find truth itself teaches us so many things. Things we once thought were concrete can be turned upside down with a new paradigm of perspective. To honestly search for the truth, one must be willing to challenge their preconceptions, give up their biases, and reconsider the depths of their being. My search for the truth started with the Bible. It may or may not have ended there. I do not wish to offer you new biases to thwart your own search, and so, that is all I will say about that. The only purpose here is to inspire you to search and to perhaps be a guide to remove some obstacles from your journey.</p>
            </div>
            <div class="col-lg-6">
                <img class="fpimage pb-2" src="~/images/chess.jpg" />
                <h3 class="d-block p-2">Free Your Mind</h3>
                <span class="blockquote p-2">It is impossible for a man to learn what he thinks he already knows.</span>
                <p class="p-2">― Epictetus</p>
                <p class="p-2">One of my favorite philosophers is Epictetus. He was born a slave under a secretary of Nero in AD 50. I may write more about him as this site develops, however, for now, consider the above quote. When I think back at how often I’ve taken for granted the things I think I know, only to discover that I was completely wrong, I feel foolish. Sometimes our ego prevents us from moving forward and learning new things to protect the image of the identity we have built in our minds. One barrier, therefore, to the search for the truth, is our own pride. Give it up. It prevents you from growing and learning new things or variations of old things already known. You cannot align yourself with the true nature of reality if your pride blinds you to it.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img class="fpimage pb-2" src="~/images/magnifysphere.jpg" />
                <h3 class="d-block p-2">Self Mastery</h3>
                <span class=" blockquote p-2">Any person capable of angering you becomes your master; he can anger you only when you permit yourself to be disturbed by him.</span>
                <p class="p-2">― Epictetus</p>
                <span class=" blockquote p-2">People are not disturbed by things, but by the views they take of them.</span>
                <p class="p-2">― Epictetus, Enchiridion</p>
                <p class="p-2">Remember where the source of your anger comes from: from within. Now that you know its source, you can master it. Once you master it, you can think clearly enough to solve problems.</p>
            </div>
            <div class="col-lg-6">
                <img class="fpimage pb-2" src="~/images/ghandi.jpg" />
                <h3 class="d-block p-2">Peace</h3>
                <span class=" blockquote">I object to violence because when it appears to do good, the good is only temporary; the evil it does is permanent.</span>
                <p><p class="p-2">― Ghandi</p></p>
            </div>
        </div>
    </div>
</div>
