@{
    ViewData["Title"] = "BibleApp";
}
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-lg-6">
                <img class="fpimage pb-2" src="~/images/magnifypink.jpg" />
                <h3 class="d-block p-2">The Search for the Truth</h3>
                <p class="p-2">The search for the truth is no easy endeavor. It can be brutal, disillusioning, and full of pain. However, even if one never finds the truth, it can bring great wisdom, knowledge, and enlightenment. The journey to find truth itself teaches us so many things. Things we once thought were concrete can be turned upside down with a new paradigm of perspective. To honestly search for the truth, one must be willing to challenge their preconceptions, give up their biases, and reconsider the depths of their being. My search for the truth started with the Bible. It may or may not have ended there. I do not wish to offer you new biases to thwart your own search, and so, that is all I will say about that. The only purpose here is to inspire you to search and to perhaps be a guide to remove some obstacles from your journey.</p>
            </div>
            <div class="col-lg-6">
                <img class="fpimage pb-2" src="~/images/magnifysphere.jpg" />
                <h3 class="d-block p-2">Liporium Ipsum</h3>
                <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in tincidunt erat, non bibendum sem. Aliquam ultricies a arcu quis pretium. Praesent a nisi fringilla, pretium felis at, tempor felis. Morbi euismod, sem ut molestie venenatis, leo dui malesuada nulla, vitae bibendum tortor nisi quis odio. Sed at felis porttitor, sollicitudin dolor pellentesque, pellentesque neque. In hac habitasse platea dictumst. Vestibulum ut odio egestas, vehicula nisi sit amet, condimentum lorem. Ut ut purus ac dolor ultricies dictum.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img class="fpimage pb-2" src="~/images/magnifysphere.jpg" />
                <h3 class="d-block p-2">Liporium Ipsum</h3>
                <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in tincidunt erat, non bibendum sem. Aliquam ultricies a arcu quis pretium. Praesent a nisi fringilla, pretium felis at, tempor felis. Morbi euismod, sem ut molestie venenatis, leo dui malesuada nulla, vitae bibendum tortor nisi quis odio. Sed at felis porttitor, sollicitudin dolor pellentesque, pellentesque neque. In hac habitasse platea dictumst. Vestibulum ut odio egestas, vehicula nisi sit amet, condimentum lorem. Ut ut purus ac dolor ultricies dictum.</p>
            </div>
            <div class="col-lg-6">
                <img class="fpimage pb-2" src="~/images/magnifysphere.jpg" />
                <h3 class="d-block p-2">Liporium Ipsum</h3>
                <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in tincidunt erat, non bibendum sem. Aliquam ultricies a arcu quis pretium. Praesent a nisi fringilla, pretium felis at, tempor felis. Morbi euismod, sem ut molestie venenatis, leo dui malesuada nulla, vitae bibendum tortor nisi quis odio. Sed at felis porttitor, sollicitudin dolor pellentesque, pellentesque neque. In hac habitasse platea dictumst. Vestibulum ut odio egestas, vehicula nisi sit amet, condimentum lorem. Ut ut purus ac dolor ultricies dictum.</p>
            </div>
        </div>
    </div>
</div>
