@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We only collect your username and email for login and password recovery purposes, none of which, is sold to third parties. Most likely, we will not even email you ourselves.</p>
<p>Though advertizing is not currently implimented, in the future, third party advertisors like google adsense or amazon affiliates may be used. They each collect their own respective data, however, data collected by us will not be used.</p>
