///////////// Variables //////////////////
// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$siconcolor: $gray-500;
$grays: () !default;
$grays: map-merge( ( "100": $gray-100, "200": $gray-200, "300": $gray-300, "400": $gray-400, "500": $gray-500, "600": $gray-600, "700": $gray-700, "800": $gray-800, "900": $gray-900 ), $grays );

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: () !default;
$colors: map-merge( ( "blue": $blue, "indigo": $indigo, "purple": $purple, "pink": $pink, "red": $red, "orange": $orange, "yellow": $yellow, "green": $green, "teal": $teal, "cyan": $cyan, "white": $white, "gray": $gray-600, "gray-dark": $gray-800 ), $colors );

$primary: $white !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $white !default;
$dark: $gray-800 !default;
$search: $gray-500 !default;
$search-results: $gray-100 !default;

$theme-colors: () !default;

$theme-colors: map-merge(
    ( 
        "primary": $primary, 
        "secondary": $secondary, 
        "success": $success, 
        "info": $info, 
        "warning": $warning, 
        "danger": $danger, 
        "light": $light, 
        "dark": $dark,
        "search": $search,
        "search-results": $search-results
    ),  
$theme-colors );
// End Color System

// Added a larger max width
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1500px) !default;
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1440px) !default;

$border-radius: .2.5rem !default;
$border-radius-lg: .4rem !default;
$border-radius-sm: .2rem !default;

$enable-shadows: true !default;
$enable-gradients: true !default;

// Border Radius
.rounded-top-lg {
    border-top-right-radius: $border-radius-lg !important;
    border-top-left-radius: $border-radius-lg !important;
}
.rounded-bottom-lg {
    border-bottom-right-radius: $border-radius-lg !important;
    border-bottom-left-radius: $border-radius-lg !important;
}

.main-area {
    background-color: $white;
}
.trade-mark {
    background-color: $black;
    color: $siconcolor;
}
.border-top-left {
    border-top-left-radius: $border-radius-lg !important;
}
// End Border Radius

.footer-links {
    padding: 50px 0;
    color: $black;
    background-color: $siconcolor;
}





//// Social Icon Strip ////
@media screen and (min-width: 994px) {
    #social-collapse {
        background-color: $black!important;
        border-top-right-radius: $border-radius-lg !important;
        border: none;
    }

    .s-icon {
        color: $siconcolor;
        font-size: 1.75em;
        display: block;
        padding-top: .75em;
        padding-bottom: .75em;
    }
    .cimage {
        object-fit: cover;
        max-height: 450px;
        background-color: $white !important;
    }
    .fpimage {
        object-fit: cover;
        max-height: 350px;
        width: 100%;
    }
    .border-top-right {
        border-top-right-radius: 0px !important;
    }
}

@media screen and (max-width: 992px) {
    #social-collapse {
        background-color: $black !important;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .s-icon {
        color: $siconcolor;
        font-size: 1em;
        padding: .5em;
        vertical-align: middle;
    }

    .cimage {
        object-fit: cover;
        max-height: 450px;
        background-color: $white !important;
    }

    .fpimage {
        object-fit: cover;
        max-height: 350px;
        width: 100%;
    }

    .border-top-right {
        border-top-right-radius: $border-radius-lg !important;
    }
}

// Navbar
.navbar-brand {
    color: $dark;
}



// Typograhy
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;



$component-active-color: $gray-300 !default;
$component-active-bg: $gray-800 !default;

//////////////// End variables ////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "../scss/bootstrap.scss";





