
body {

}

.body-bg {
    background: url('../church.jpg') no-repeat center center fixed;
    background-size: cover;
}



footer {
 
}


header {

}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

a.navbar-brand {
    font-size: xx-large;
    font-weight: 700;
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.noteslist {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.searchword {
    background-color: rgb(40, 255, 255);
    color: black;

}
